<a href="https://colab.research.google.com/github/buneshka/Pragra585/blob/main/Population_by_age.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=94366b362800730f9b652d3992da26774c9898305a492d89c970684c60d5bd28
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
!pwd

/content

In [3]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Sep 30 13:24 sample_data

In [4]:
!wget https://raw.githubusercontent.com/pathwaytipsorg/data-engineer/main/data/population_by_age.tsv

--2024-10-02 13:15:19--  https://raw.githubusercontent.com/pathwaytipsorg/data-engineer/main/data/population_by_age.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26070 (25K) [text/plain]
Saving to: ‘population_by_age.tsv’

population_by_age.t 100%[===================>]  25.46K  --.-KB/s    in 0s

2024-10-02 13:15:19 (65.3 MB/s) - ‘population_by_age.tsv’ saved [26070/26070]

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('population_by_age').getOrCreate()

df_population = spark.read.csv('population_by_age.tsv',header=True, sep="\t",inferSchema=True)
df_population.show()

+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
| indic_de,geo\time| 2008 |2009 | 2010 | 2011 | 2012 |2013 | 2014 | 2015 |2016 | 2017 | 2018 | 2019 |
+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
|       PC_Y0_14,AD| 14.6 |14.5 | 14.5 | 15.5 | 15.5 |15.5 |    : |    : |   : |    : |    : | 13.9 |
|       PC_Y0_14,AL| 24.1 |23.3 | 22.5 | 21.6 | 20.7 |20.1 | 19.6 | 19.0 |18.5 | 18.2 | 17.7 | 17.2 |
|       PC_Y0_14,AM| 19.0 |18.6 | 18.3 |    : |    : |   : |    : | 19.4 |19.6 | 20.0 | 20.2 | 20.2 |
|       PC_Y0_14,AT| 15.4 |15.1 | 14.9 | 14.7 | 14.6 |14.4 | 14.3 | 14.3 |14.3 | 14.4 | 14.4 | 14.4 |
|       PC_Y0_14,AZ| 23.2 |22.6 | 22.6 | 22.3 | 22.2 |22.3 | 22.4 | 22.4 |22.5 | 22.6 | 22.6 | 22.4 |
|       PC_Y0_14,BE| 16.9 |16.9 | 16.9 |17.0 b| 17.0 |17.0 | 17.0 | 17.0 |17.0 | 17.0 | 17.0 | 16.9 |
|       PC_Y0_14,BG| 13.1 |13.1 | 13.2 | 13.2 | 13.4 |13.6 | 13.7 | 13.9 |14.0 | 14.1 | 14.2 | 14.4 |
|       PC_Y0_14,BY| 14.7 |14.6 |    : | 14.9 | 15.1 |15.4 | 15.7 | 16.0 |16.3 | 16.6 | 16.8 | 16.9 |
|       PC_Y0_14,CH| 15.5 |15.3 | 15.2 |15.1 b| 15.0 |14.9 | 14.9 | 14.9 |14.9 | 14.9 | 15.0 | 15.0 |
|       PC_Y0_14,CY| 18.2 |17.7 | 17.2 | 16.8 | 16.5 |16.4 | 16.3 | 16.4 |16.4 | 16.3 | 16.2 | 16.1 |
|       PC_Y0_14,CZ| 14.2 |14.2 | 14.3 | 14.5 | 14.7 |14.8 | 15.0 | 15.2 |15.4 | 15.6 | 15.7 | 15.9 |
|       PC_Y0_14,DE| 13.7 |13.6 | 13.5 |13.6 b| 13.4 |13.3 |13.2 b| 13.2 |13.2 | 13.4 | 13.5 | 13.6 |
|       PC_Y0_14,DK| 18.4 |18.3 | 18.1 | 17.9 | 17.7 |17.4 | 17.2 | 17.0 |16.8 | 16.7 | 16.6 | 16.5 |
|     PC_Y0_14,EA18| 15.4 |15.4 | 15.4 |15.4 b|15.4 b|15.3 |15.3 b|15.2 b|15.1 |15.1 b|15.0 p|15.0 p|
|     PC_Y0_14,EA19| 15.5 |15.5 | 15.4 |15.5 b|15.4 b|15.4 |15.3 b|15.3 b|15.2 |15.2 b|15.1 p|15.0 p|
|       PC_Y0_14,EE| 14.8 |14.9 | 15.1 | 15.3 | 15.5 |15.7 | 15.8 |15.9 b|16.1 | 16.2 | 16.3 | 16.4 |
|       PC_Y0_14,EL| 14.6 |14.6 | 14.6 | 14.6 | 14.7 |14.7 | 14.6 | 14.5 |14.4 | 14.4 | 14.4 | 14.3 |
|       PC_Y0_14,ES| 14.6 |14.8 | 14.9 | 15.0 | 15.1 |15.2 | 15.2 | 15.2 |15.1 | 15.1 | 15.0 | 14.8 |
|PC_Y0_14,EU27_2007|15.8 b|15.7 |15.7 b|15.7 b|15.7 b|15.7 |15.6 b|15.6 b|15.6 |15.6 b|15.6 p|15.5 p|
|PC_Y0_14,EU27_2020|15.5 b|15.4 |15.4 b|15.4 b|15.4 b|15.4 |15.3 b|15.3 b|15.3 |15.2 b|15.2 p|15.2 p|
+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
only showing top 20 rows

In [6]:
df_population.columns

['indic_de,geo\\time',
 '2008 ',
 '2009 ',
 '2010 ',
 '2011 ',
 '2012 ',
 '2013 ',
 '2014 ',
 '2015 ',
 '2016 ',
 '2017 ',
 '2018 ',
 '2019 ']

In [7]:
df_population = df_population.withColumnRenamed('2008 ', 'YEAR_2008')\
.withColumnRenamed('2009 ', 'YEAR_2009')\
.withColumnRenamed('2010 ', 'YEAR_2010')\
.withColumnRenamed('2011 ', 'YEAR_2011')\
.withColumnRenamed('2012 ', 'YEAR_2012')\
.withColumnRenamed('2013 ', 'YEAR_2013')\
.withColumnRenamed('2014 ', 'YEAR_2014')\
.withColumnRenamed('2015 ', 'YEAR_2015')\
.withColumnRenamed('2016 ', 'YEAR_2016')\
.withColumnRenamed('2017 ', 'YEAR_2017')\
.withColumnRenamed('2018 ', 'YEAR_2018')\
.withColumnRenamed('2019 ', 'YEAR_2019')

df_population.show()

+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| indic_de,geo\time|YEAR_2008|YEAR_2009|YEAR_2010|YEAR_2011|YEAR_2012|YEAR_2013|YEAR_2014|YEAR_2015|YEAR_2016|YEAR_2017|YEAR_2018|YEAR_2019|
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|       PC_Y0_14,AD|    14.6 |    14.5 |    14.5 |    15.5 |    15.5 |    15.5 |       : |       : |       : |       : |       : |    13.9 |
|       PC_Y0_14,AL|    24.1 |    23.3 |    22.5 |    21.6 |    20.7 |    20.1 |    19.6 |    19.0 |    18.5 |    18.2 |    17.7 |    17.2 |
|       PC_Y0_14,AM|    19.0 |    18.6 |    18.3 |       : |       : |       : |       : |    19.4 |    19.6 |    20.0 |    20.2 |    20.2 |
|       PC_Y0_14,AT|    15.4 |    15.1 |    14.9 |    14.7 |    14.6 |    14.4 |    14.3 |    14.3 |    14.3 |    14.4 |    14.4 |    14.4 |
|       PC_Y0_14,AZ|    23.2 |    22.6 |    22.6 |    22.3 |    22.2 |    22.3 |    22.4 |    22.4 |    22.5 |    22.6 |    22.6 |    22.4 |
|       PC_Y0_14,BE|    16.9 |    16.9 |    16.9 |   17.0 b|    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    16.9 |
|       PC_Y0_14,BG|    13.1 |    13.1 |    13.2 |    13.2 |    13.4 |    13.6 |    13.7 |    13.9 |    14.0 |    14.1 |    14.2 |    14.4 |
|       PC_Y0_14,BY|    14.7 |    14.6 |       : |    14.9 |    15.1 |    15.4 |    15.7 |    16.0 |    16.3 |    16.6 |    16.8 |    16.9 |
|       PC_Y0_14,CH|    15.5 |    15.3 |    15.2 |   15.1 b|    15.0 |    14.9 |    14.9 |    14.9 |    14.9 |    14.9 |    15.0 |    15.0 |
|       PC_Y0_14,CY|    18.2 |    17.7 |    17.2 |    16.8 |    16.5 |    16.4 |    16.3 |    16.4 |    16.4 |    16.3 |    16.2 |    16.1 |
|       PC_Y0_14,CZ|    14.2 |    14.2 |    14.3 |    14.5 |    14.7 |    14.8 |    15.0 |    15.2 |    15.4 |    15.6 |    15.7 |    15.9 |
|       PC_Y0_14,DE|    13.7 |    13.6 |    13.5 |   13.6 b|    13.4 |    13.3 |   13.2 b|    13.2 |    13.2 |    13.4 |    13.5 |    13.6 |
|       PC_Y0_14,DK|    18.4 |    18.3 |    18.1 |    17.9 |    17.7 |    17.4 |    17.2 |    17.0 |    16.8 |    16.7 |    16.6 |    16.5 |
|     PC_Y0_14,EA18|    15.4 |    15.4 |    15.4 |   15.4 b|   15.4 b|    15.3 |   15.3 b|   15.2 b|    15.1 |   15.1 b|   15.0 p|   15.0 p|
|     PC_Y0_14,EA19|    15.5 |    15.5 |    15.4 |   15.5 b|   15.4 b|    15.4 |   15.3 b|   15.3 b|    15.2 |   15.2 b|   15.1 p|   15.0 p|
|       PC_Y0_14,EE|    14.8 |    14.9 |    15.1 |    15.3 |    15.5 |    15.7 |    15.8 |   15.9 b|    16.1 |    16.2 |    16.3 |    16.4 |
|       PC_Y0_14,EL|    14.6 |    14.6 |    14.6 |    14.6 |    14.7 |    14.7 |    14.6 |    14.5 |    14.4 |    14.4 |    14.4 |    14.3 |
|       PC_Y0_14,ES|    14.6 |    14.8 |    14.9 |    15.0 |    15.1 |    15.2 |    15.2 |    15.2 |    15.1 |    15.1 |    15.0 |    14.8 |
|PC_Y0_14,EU27_2007|   15.8 b|    15.7 |   15.7 b|   15.7 b|   15.7 b|    15.7 |   15.6 b|   15.6 b|    15.6 |   15.6 b|   15.6 p|   15.5 p|
|PC_Y0_14,EU27_2020|   15.5 b|    15.4 |   15.4 b|   15.4 b|   15.4 b|    15.4 |   15.3 b|   15.3 b|    15.3 |   15.2 b|   15.2 p|   15.2 p|
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [8]:
df_population = df_population.withColumnRenamed('indic_de,geo\\time', 'Geo_Time')
df_population.show()

+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|          Geo_Time|YEAR_2008|YEAR_2009|YEAR_2010|YEAR_2011|YEAR_2012|YEAR_2013|YEAR_2014|YEAR_2015|YEAR_2016|YEAR_2017|YEAR_2018|YEAR_2019|
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|       PC_Y0_14,AD|    14.6 |    14.5 |    14.5 |    15.5 |    15.5 |    15.5 |       : |       : |       : |       : |       : |    13.9 |
|       PC_Y0_14,AL|    24.1 |    23.3 |    22.5 |    21.6 |    20.7 |    20.1 |    19.6 |    19.0 |    18.5 |    18.2 |    17.7 |    17.2 |
|       PC_Y0_14,AM|    19.0 |    18.6 |    18.3 |       : |       : |       : |       : |    19.4 |    19.6 |    20.0 |    20.2 |    20.2 |
|       PC_Y0_14,AT|    15.4 |    15.1 |    14.9 |    14.7 |    14.6 |    14.4 |    14.3 |    14.3 |    14.3 |    14.4 |    14.4 |    14.4 |
|       PC_Y0_14,AZ|    23.2 |    22.6 |    22.6 |    22.3 |    22.2 |    22.3 |    22.4 |    22.4 |    22.5 |    22.6 |    22.6 |    22.4 |
|       PC_Y0_14,BE|    16.9 |    16.9 |    16.9 |   17.0 b|    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    17.0 |    16.9 |
|       PC_Y0_14,BG|    13.1 |    13.1 |    13.2 |    13.2 |    13.4 |    13.6 |    13.7 |    13.9 |    14.0 |    14.1 |    14.2 |    14.4 |
|       PC_Y0_14,BY|    14.7 |    14.6 |       : |    14.9 |    15.1 |    15.4 |    15.7 |    16.0 |    16.3 |    16.6 |    16.8 |    16.9 |
|       PC_Y0_14,CH|    15.5 |    15.3 |    15.2 |   15.1 b|    15.0 |    14.9 |    14.9 |    14.9 |    14.9 |    14.9 |    15.0 |    15.0 |
|       PC_Y0_14,CY|    18.2 |    17.7 |    17.2 |    16.8 |    16.5 |    16.4 |    16.3 |    16.4 |    16.4 |    16.3 |    16.2 |    16.1 |
|       PC_Y0_14,CZ|    14.2 |    14.2 |    14.3 |    14.5 |    14.7 |    14.8 |    15.0 |    15.2 |    15.4 |    15.6 |    15.7 |    15.9 |
|       PC_Y0_14,DE|    13.7 |    13.6 |    13.5 |   13.6 b|    13.4 |    13.3 |   13.2 b|    13.2 |    13.2 |    13.4 |    13.5 |    13.6 |
|       PC_Y0_14,DK|    18.4 |    18.3 |    18.1 |    17.9 |    17.7 |    17.4 |    17.2 |    17.0 |    16.8 |    16.7 |    16.6 |    16.5 |
|     PC_Y0_14,EA18|    15.4 |    15.4 |    15.4 |   15.4 b|   15.4 b|    15.3 |   15.3 b|   15.2 b|    15.1 |   15.1 b|   15.0 p|   15.0 p|
|     PC_Y0_14,EA19|    15.5 |    15.5 |    15.4 |   15.5 b|   15.4 b|    15.4 |   15.3 b|   15.3 b|    15.2 |   15.2 b|   15.1 p|   15.0 p|
|       PC_Y0_14,EE|    14.8 |    14.9 |    15.1 |    15.3 |    15.5 |    15.7 |    15.8 |   15.9 b|    16.1 |    16.2 |    16.3 |    16.4 |
|       PC_Y0_14,EL|    14.6 |    14.6 |    14.6 |    14.6 |    14.7 |    14.7 |    14.6 |    14.5 |    14.4 |    14.4 |    14.4 |    14.3 |
|       PC_Y0_14,ES|    14.6 |    14.8 |    14.9 |    15.0 |    15.1 |    15.2 |    15.2 |    15.2 |    15.1 |    15.1 |    15.0 |    14.8 |
|PC_Y0_14,EU27_2007|   15.8 b|    15.7 |   15.7 b|   15.7 b|   15.7 b|    15.7 |   15.6 b|   15.6 b|    15.6 |   15.6 b|   15.6 p|   15.5 p|
|PC_Y0_14,EU27_2020|   15.5 b|    15.4 |   15.4 b|   15.4 b|   15.4 b|    15.4 |   15.3 b|   15.3 b|    15.3 |   15.2 b|   15.2 p|   15.2 p|
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import *

df_population = df_population.withColumn('age_group',regexp_replace(split(df_population['Geo_Time'],',')[0],'PC_','')).withColumn('country_code',split(df_population['Geo_Time'],',')[1])
df_population.show(5)

+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
|   Geo_Time|YEAR_2008|YEAR_2009|YEAR_2010|YEAR_2011|YEAR_2012|YEAR_2013|YEAR_2014|YEAR_2015|YEAR_2016|YEAR_2017|YEAR_2018|YEAR_2019|age_group|country_code|
+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
|PC_Y0_14,AD|    14.6 |    14.5 |    14.5 |    15.5 |    15.5 |    15.5 |       : |       : |       : |       : |       : |    13.9 |    Y0_14|          AD|
|PC_Y0_14,AL|    24.1 |    23.3 |    22.5 |    21.6 |    20.7 |    20.1 |    19.6 |    19.0 |    18.5 |    18.2 |    17.7 |    17.2 |    Y0_14|          AL|
|PC_Y0_14,AM|    19.0 |    18.6 |    18.3 |       : |       : |       : |       : |    19.4 |    19.6 |    20.0 |    20.2 |    20.2 |    Y0_14|          AM|
|PC_Y0_14,AT|    15.4 |    15.1 |    14.9 |    14.7 |    14.6 |    14.4 |    14.3 |    14.3 |    14.3 |    14.4 |    14.4 |    14.4 |    Y0_14|          AT|
|PC_Y0_14,AZ|    23.2 |    22.6 |    22.6 |    22.3 |    22.2 |    22.3 |    22.4 |    22.4 |    22.5 |    22.6 |    22.6 |    22.4 |    Y0_14|          AZ|
+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------+
only showing top 5 rows

In [10]:
df_population = df_population.select(col('country_code'),col('age_group'),col('YEAR_2019').alias('percentage_2019'))
df_population.show(5)

+------------+---------+---------------+
|country_code|age_group|percentage_2019|
+------------+---------+---------------+
|          AD|    Y0_14|          13.9 |
|          AL|    Y0_14|          17.2 |
|          AM|    Y0_14|          20.2 |
|          AT|    Y0_14|          14.4 |
|          AZ|    Y0_14|          22.4 |
+------------+---------+---------------+
only showing top 5 rows

In [13]:
df_population.select("age_group").distinct().show()

+---------+
|age_group|
+---------+
|   Y65_79|
|   Y50_64|
|   Y25_49|
|  Y80_MAX|
|   Y15_24|
|    Y0_14|
+---------+

In [14]:
df_population.select("country_code").distinct().show()

+------------+
|country_code|
+------------+
|          LT|
|          AZ|
|          FI|
|          UA|
|          RO|
|          NL|
|          AM|
|          PL|
|          MK|
|          EE|
|          SM|
|          AT|
|          RU|
|          AD|
|          HR|
|          LI|
|          CZ|
|          PT|
|   EU27_2007|
|          MT|
+------------+
only showing top 20 rows

In [15]:
df_population.select("percentage_2019").distinct().show()

+---------------+
|percentage_2019|
+---------------+
|             : |
|          12.8 |
|         18.0 p|
|           8.9 |
|          16.1 |
|         15.5 p|
|          15.4 |
|          13.0 |
|          34.1 |
|           5.1 |
|          14.1 |
|          13.7 |
|          11.2 |
|          21.6 |
|          20.6 |
|           5.6 |
|           4.4 |
|           2.5 |
|          16.5 |
|          15.7 |
+---------------+
only showing top 20 rows

In [19]:
 df_population.createOrReplaceTempView("pop_by_age_2019")
 df_cleaned = spark.sql("select country_code, age_group,cast(regexp_replace(percentage_2019,'[a-z]','') as decimal(4,2))as percentage_2019 from pop_by_age_2019 where length(country_code)=2")
 df_cleaned.show()

+------------+---------+---------------+
|country_code|age_group|percentage_2019|
+------------+---------+---------------+
|          AD|    Y0_14|          13.90|
|          AL|    Y0_14|          17.20|
|          AM|    Y0_14|          20.20|
|          AT|    Y0_14|          14.40|
|          AZ|    Y0_14|          22.40|
|          BE|    Y0_14|          16.90|
|          BG|    Y0_14|          14.40|
|          BY|    Y0_14|          16.90|
|          CH|    Y0_14|          15.00|
|          CY|    Y0_14|          16.10|
|          CZ|    Y0_14|          15.90|
|          DE|    Y0_14|          13.60|
|          DK|    Y0_14|          16.50|
|          EE|    Y0_14|          16.40|
|          EL|    Y0_14|          14.30|
|          ES|    Y0_14|          14.80|
|          FI|    Y0_14|          16.00|
|          FR|    Y0_14|          18.00|
|          FX|    Y0_14|           NULL|
|          GE|    Y0_14|          20.30|
+------------+---------+---------------+
only showing top 20 rows

In [25]:
pivoted_df_population = df_cleaned.groupBy("country_code").pivot("age_group").sum("percentage_2019")
pivoted_df_population.show()

+------------+-----+------+------+------+------+-------+
|country_code|Y0_14|Y15_24|Y25_49|Y50_64|Y65_79|Y80_MAX|
+------------+-----+------+------+------+------+-------+
|          LT|15.10| 10.50| 32.70| 21.90| 14.00|   5.80|
|          AZ|22.40| 14.10| 39.10| 17.60|  5.30|   1.50|
|          FI|16.00| 11.20| 31.20| 19.90| 16.30|   5.50|
|          UA|15.40|  9.60| 37.60| 20.60| 12.50|   4.30|
|          RO|15.70| 10.60| 35.60| 19.70| 13.90|   4.70|
|          NL|15.90| 12.30| 31.80| 20.90| 14.60|   4.60|
|          AM|20.20| 11.80| 36.90| 19.10|  9.00|   3.00|
|          PL|15.40| 10.30| 37.00| 19.70| 13.30|   4.40|
|          MK|16.40| 12.40| 37.50| 19.70| 11.50|   2.50|
|          EE|16.40|  9.50| 34.90| 19.40| 14.10|   5.60|
|          SM| NULL|  NULL|  NULL|  NULL|  NULL|   NULL|
|          AT|14.40| 10.90| 34.00| 21.70| 13.80|   5.00|
|          RU| NULL|  NULL|  NULL|  NULL|  NULL|   NULL|
|          AD|13.90| 10.60| 39.40| 22.50| 10.20|   3.40|
|          LI|14.70| 10.90| 33.30| 23.20| 14.10|   3.80|
|          HR|14.40| 10.90| 32.50| 21.60| 15.20|   5.30|
|          CZ|15.90|  9.10| 36.70| 18.80| 15.50|   4.10|
|          PT|13.70| 10.60| 32.90| 20.90| 15.40|   6.40|
|          MT|13.70| 11.00| 38.50| 18.20| 14.50|   4.20|
|          BY|16.90|  9.90| 36.60| 21.30| 11.30|   3.90|
+------------+-----+------+------+------+------+-------+
only showing top 20 rows

In [27]:
df_filtered = df_population.filter(length(col("country_code")) == 2)
df_filtered.show()

+------------+---------+---------------+
|country_code|age_group|percentage_2019|
+------------+---------+---------------+
|          AD|    Y0_14|          13.9 |
|          AL|    Y0_14|          17.2 |
|          AM|    Y0_14|          20.2 |
|          AT|    Y0_14|          14.4 |
|          AZ|    Y0_14|          22.4 |
|          BE|    Y0_14|          16.9 |
|          BG|    Y0_14|          14.4 |
|          BY|    Y0_14|          16.9 |
|          CH|    Y0_14|          15.0 |
|          CY|    Y0_14|          16.1 |
|          CZ|    Y0_14|          15.9 |
|          DE|    Y0_14|          13.6 |
|          DK|    Y0_14|          16.5 |
|          EE|    Y0_14|          16.4 |
|          EL|    Y0_14|          14.3 |
|          ES|    Y0_14|          14.8 |
|          FI|    Y0_14|          16.0 |
|          FR|    Y0_14|         18.0 p|
|          FX|    Y0_14|             : |
|          GE|    Y0_14|          20.3 |
+------------+---------+---------------+
only showing top 20 rows

In [28]:
df_cleaned = df_filtered.select(col("country_code"),col("age_group"),regexp_replace(col("percentage_2019"), '[a-z]', '').cast("decimal(4,2)").alias("percentage_2019"))
df_cleaned.show()

+------------+---------+---------------+
|country_code|age_group|percentage_2019|
+------------+---------+---------------+
|          AD|    Y0_14|          13.90|
|          AL|    Y0_14|          17.20|
|          AM|    Y0_14|          20.20|
|          AT|    Y0_14|          14.40|
|          AZ|    Y0_14|          22.40|
|          BE|    Y0_14|          16.90|
|          BG|    Y0_14|          14.40|
|          BY|    Y0_14|          16.90|
|          CH|    Y0_14|          15.00|
|          CY|    Y0_14|          16.10|
|          CZ|    Y0_14|          15.90|
|          DE|    Y0_14|          13.60|
|          DK|    Y0_14|          16.50|
|          EE|    Y0_14|          16.40|
|          EL|    Y0_14|          14.30|
|          ES|    Y0_14|          14.80|
|          FI|    Y0_14|          16.00|
|          FR|    Y0_14|          18.00|
|          FX|    Y0_14|           NULL|
|          GE|    Y0_14|          20.30|
+------------+---------+---------------+
only showing top 20 rows