<a href="https://colab.research.google.com/github/buneshka/Pragra585/blob/main/SQL_ASSIGNMENT_22_09_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install ipython-sql
%load_ext sql
%sql sqlite://

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.35)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (71.0.4)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Using cached jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Using cached jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [4]:
%%sql
CREATE TABLE CUSTOMERS (
  CustomerID INT(5),
  FirstName NVARCHAR(50),
  LastName NVARCHAR(50),
  Email NVARCHAR(100),
  BirthDate DATE
);

 * sqlite://
Done.

[]

In [5]:
%%sql
INSERT INTO Customers (CustomerID, FirstName, LastName, Email, BirthDate)
VALUES (1, 'John', 'Doe', 'johndoe22@example.com', '1990-01-01'),
(2, 'Johny', 'Dooe', 'johndoe23@example.com', '1890-01-01');

 * sqlite://
2 rows affected.

[]

In [6]:
%%sql
ALTER TABLE Customers
ADD PhoneNumber nvarchar(20);

 * sqlite://
Done.

[]

In [7]:
%%sql
UPDATE Customers
SET PhoneNumber='(123) 456-7890'
WHERE CustomerID=1;

 * sqlite://
1 rows affected.

[]

In [8]:
%%sql
UPDATE Customers
SET PhoneNumber='(123) 456-7891'
WHERE CustomerID=2;

 * sqlite://
1 rows affected.

[]

In [9]:
%%sql
SELECT CustomerID, FirstName, Lastname,
CASE
    WHEN Email LIKE '%@%' THEN 'Valid'
    ELSE 'Invalid'
END AS EmailStatus
FROM
Customers;

 * sqlite://
Done.

[(1, 'John', 'Doe', 'Valid'), (2, 'Johny', 'Dooe', 'Valid')]

In [13]:
%%sql
SELECT COUNT(CustomerID), EXTRACT(YEAR FROM BirthDate) AS BirthYear
FROM Customers
GROUP BY EXTRACT(YEAR FROM BirthDate)
WHERE EXTRACT(YEAR FROM BirthDate)>1980;

 * sqlite://
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT COUNT(CustomerID), EXTRACT(YEAR FROM BirthDate) AS BirthYear
FROM Customers
GROUP BY EXTRACT(YEAR FROM BirthDate)
WHERE EXTRACT(YEAR FROM BirthDate)>1980;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [24]:
%%sql
select strftime('%Y', birthdate) as birthyear, count(*)
from customers
where strftime('%Y', birthdate) > '1980-01-01'
group by strftime('%Y', birthdate)

 * sqlite://
Done.

[('1990', 1)]

In [25]:
%%sql
select strftime('%Y', birthdate) as birthyear, count(*)
from customers
where strftime('%Y', birthdate) > '1980-01-01'
group by strftime('%Y', birthdate)
Having count(*) > 1

 * sqlite://
Done.

[]

In [27]:
%%sql
SELECT CustomerID, FirstName, Lastname
FROM Customers
WHERE FirstName = 'A%' OR LastName = 'A%';

 * sqlite://
Done.

[]